@import 'tailwindcss';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: sans-serif;
}

h1 {
	font-size: clamp(3.5rem, 10vw, 7rem);
}

h2 {
	font-size: clamp(2.5rem, 8vw, 5rem);
}

h3 {
	font-size: clamp(1.5rem, 6vw, 3rem);
}
